<div class="container">
  <div class="row justify-content-center">
    <%= image_tag('food-guardians_logo.png', size: "270x100") %>
    <h2 class="text-center">
      このサイトは食品ロスを減らすために作られました</br>
      まだ使ったことのない方は今からぜひ会員登録を！
      <%= link_to "経営者様登録はこちら", exective_registration_path %>
      <%= link_to "消費者様登録はこちら", customer_registration_path %>
    </h2>
  </div>
</div>