<div class="container text-center">
  <h1 class="my-4">本当に退会しますか？</h1>

  <p>退会すると、会員登録情報や</p>
  <p>これまでの購入履歴が閲覧できなくなります。</p>
  <p>退会する場合は、「退会する」をクリックしてください。</p>

  <div class="d-flex justify-content-center mt-5">
    <%= button_to '退会しない', exective_exective_path(current_exective), method: :get, class: 'btn btn-primary' %>
    <div class="custom-gap"></div>
    <%= button_to '退会する', withdraw_update_exective_exectives_path, method: :patch, class: 'btn btn-danger', data: { confirm: '本当に退会しますか？' } %>
  </div>
</div>
