<div class="container">
  <div class="row justify-content-center">
    <%= image_tag('food-guardians_logo.png', size: "400x200") %>
  </div>
  <div class="row justify-content-center">
    <h3 class="text-center">
      このサイトは食品ロスを減らすために作られました</br>
      まだ使ったことのない方は今からぜひ会員登録を！
    </h3>
  </div>
  <div class="row justify-content-center">
    <h5 class="text-center">
      <%= link_to "経営者様登録はこちら", new_exective_registration_path, class: "elink" %>
    </h5>
  </div>
  <div class="row justify-content-center">
    <h5 class="text-center">
      <%= link_to "消費者様登録はこちら", new_customer_registration_path, class: "clink" %>
    </h5>
  </div>
  <div class="row justify-content-center">
    <h5 class="text-center">
      <%= link_to "管理者様ログインはこちら", new_admin_session_path, class: "alink" %>
    </h5>
  </div>
</div>
